/* stylelint-disable font-family-no-missing-generic-family-keyword */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  background-color: #0a192f;
  font-family: Open Sauce, arial, sans-serif;
  color: #fff;
}

* {
  padding: 0;
  margin: 0;
}

.heading {
  font-family: Anton;
}

/* @media (min-width: 1300px) {

  .head-ctn {
    height: 60vh;
  }
} */

.bnbg {
  background-image: url('./images/aire.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.abcss {
  background-image: url('./images/ab3d.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.cerc {
  background-image: url('./images/cercle.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

.res svg {
  transition: transform 0.7s;
}

.res svg:hover {
  color: #52eeca;
  transform: translateY(-0.5rem);
}
