/* stylelint-disable font-family-no-missing-generic-family-keyword */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  background-color: #0A192F;
  font-family: Open Sauce, arial, sans-serif;
  color: #fff;
}

* {
  padding: 0;
  margin: 0;
}

.heading {
  font-family: Anton;
}

/* @media (min-width: 1300px) {

  .head-ctn {
    height: 60vh;    
  }
} */


